// // segments with ionlabel without resultgroup in ionitemdivider
//$ios-summary-height : 41px;
//$md-summary-height : 50px;
//// resultgroup in ionitemdivider
//$ios-summary-height : 62px;
//$md-summary-height : 67px;
// resultgroup in ionitem
$ios-summary-height : 63px;
$md-summary-height  : 70px;

.map-background {
  top    : 0;
  right  : 0;
  bottom : 0;
  left   : 0;

  .ios & {
    bottom : $ios-summary-height;
  }

  .md & {
    bottom : $md-summary-height;
  }

  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    display : none;
  }
}

.outer-scrollable {
  overflow-y : auto;
  top        : 0;
  right      : 0;
  bottom     : 0;
  left       : 0;
  // above the map controls
  z-index    : 2;

  &.full-map {
    pointer-events : none;
  }

  ion-back-button {
    position       : fixed;
    top            : 0;
    pointer-events : all;
  }
}

.map-cover {
  .ios & {
    height : calc(100% - #{$ios-summary-height});
  }

  .md & {
    height : calc(100% - #{$md-summary-height});
  }
}

.directions-details {
  min-height     : 100%;
  pointer-events : all;

  .directions-details-summary {
    position : sticky;
    top      : 0;
    // above the other details
    z-index  : 2;
  }

  .mode-icon > svg {
    // 16 seems to match ionicons
    // we really want max 16x16, which works in ff but not chrome
    width  : 16px;
    height : 16px;
  }

  //summary {
  //  list-style : none;
  //
  //  &::-webkit-details-marker {
  //    display : none;
  //  }
  //}

  //::slotted(ion-label[slot="start"]) {
  ion-label[slot="start"] {
    flex : 0 auto;
    //align-self: start;
  }

  @media (min-width : 444px) {
    .segment-main {
      display : flex;

      .segment-summary {
        margin-right : 8px;
      }
    }
  }

  table {
    border-collapse : separate;
    border-spacing  : 16px 0;
    margin          : 0 -16px;
  }
}
