#tutorial-page {
  ion-toolbar {
    --background: transparent;
    --border-color: transparent;
  }

  ion-slides {
    height: 100%;
  }

  .swiper-slide {
    display: block;
  }

  .slide-title {
    margin-top: -2rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 100px 0 60px;
    pointer-events: none;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);

    b {
      color: var(--ion-text-color, #000000);
    }
  }

}
